<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <title>Ashling Innovation Project</title>

<style>
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00AC5D;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #00AC5D;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>

<body>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('home') }}">Industries</a>
  <a href="{{ url_for('makePrediction') }}" >Make Prediction</a>
  <a href="{{ url_for('contact') }}">Demo Request</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰</button>
</div>

<figure>
    <img src="../static/img/manufracturing/1.gif" alt="Header image" class="img-fluid" style="padding-top:10px; width:100%;height: 430px;">
</figure>

<div class="tm-content-div" style="background-color:#222222">
    <!-- Welcome section -->
    <section id="welcome" class="tm-section" style="color: white;">
        <header>
            <h2 class="tm-blue-text tm-welcome-title tm-margin-b-25" style="color: #00AC5D;text-align: center;">
            <strong>Innovation Team 8</strong>
        </h2>
        </header>
        <p>
          When maintenance of machinery (physical machines deployed on site) isn’t efficiently scheduled, 
          equipment may need to be pulled off site for repairs at inconvenient and critical times. 
        </p>
    </section>
    <!-- About section -->
    <section id="about" class="tm-section">
        <div class="row">                                                                
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 push-lg-4 push-md-5" style="color: white;">
                <header>
                    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-10" style="text-align: center;color: #00AC5D;">
                        <strong>Our Approach</strong>
                    </h2>
                </header>
                <p>
                  Predictive maintenance of machinery equipment using an Intelligent Automation (ML and RPA) web-based application to predict signs of degradation, 
                  time of failure and involved physical components early by analyzing the telemetry data, 
                  collected by IoT sensors, fed into it in real time to efficiently plan maintenance schedules 
                  at convenient times minimizing the maintenance costs involved otherwise.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-lg-8 pull-md-7 tm-about-img-container">
                <img src="../static/img/manufracturing/2.gif" alt="Image" class="img-fluid" style="height:350px;">    
            </div>  
        </div>                            
    </section>
</div>


<hr>
<header> 
    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-10" style="color:#00AC5D;padding-bottom: 20px;"> 
        <strong> Meet The Team </strong></h2>
</header>

<br>
      <div class="col-lg-4">
        <div class="card" style="width: 20rem;">
          <img src="../static/img/bot1.jpeg" alt="Jin" style="width:auto">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 20rem;">
          <img src="../static/img/bot2.jpeg" alt="Jin" style="width:auto">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/bot3.jpeg" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>
<br>
      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

<br>
      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img src="../static/img/dog2.gif" alt="Jin" style="width:100%">
          <div class="container">
            <h4>Name </h4>
            title<br>
            email<br>
          </div>
        </div>
      </div>

</div>
                
        <!-- load JS files -->
        <script src="../static/js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="../static/js/jquery.magnific-popup.min.js"></script>     <!-- Magnific pop-up (http://dimsemenov.com/plugins/magnific-popup/) -->
        <script src="../static/js/jquery.singlePageNav.min.js"></script>     <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->

        <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
            }
        </script>
             
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>